*{
    padding:0 ;
    margin: 0;
}
.nav-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: #9b9898;
    color: white;
    padding: 20px;
}
.items{
    display: flex;
    font-size: 22px;
    font-weight: bold;

}
.item{
    margin-right: 20px;
    list-style: none;
}

 /* Banner Section Style  */

 .digital-banner{
    width: 100%;
    height: 100vh;
   background-image: url("/asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
   background-blend-mode: overlay;
   background-position: center;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   color: white;

 }
 .title{
    font-size: 85px;
    font-weight: bold;
 }
 
 .title-digital{
    color: rgb(245,44,44);
 }
 .description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
 }
 .btn{
    padding: 15px 35px;
    border: none;
    font-size: 18px;
    margin: 5px;


 }
.btn-discover{
    background-color: red;
    color: white;
   
    
}
.btn-hire{
    color: red;
    

}